@import "/src/App.css";

.popupBg {
  top: 0;
  left: 0;
  display: flex;
  background-color: #00000059;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  position: fixed;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
}

/* Контейнер */
.loginPopup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 350px;
  z-index: 100;
  position: relative;
  transform: scale(0);
  pointer-events: none;
}


/* Ширина полей авторизации */
.loginField {
  width: 225px;
}

.active {
  opacity: 1;
  pointer-events: all;
}

.loginPopup.active {
  transform: scale(1);
}
