/* @import "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"; */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700;800&family=Rubik:wght@400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Шаблоны цветов */
:root {
  --light-theme-bg-color: white;
  --dark-theme-bg-color: rgb(63, 63, 63);
  --blue-bg-color: #004cff;
  --hover-tag-color: #0042dd;
  --light-theme-text-color: black;
  --dark-theme-text-color: white;
}